@model GuestService.Models.FeedbackFormContext

<p>
    The message with the following content:
</p>
<p>
    Name: @Model.Name<br />
    E-mail: @Model.Email<br />
    Phone: @Model.Phone<br />
    <br />
    Subject: @Model.Subject<br />
    Message:<br />
    @Model.Message<br />
</p>