<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Our partners</p></span>
<h3>Service providers</h3>
<ul>
<li>Cyprus V.I.P. service</li>
<li>True North Yachting</li>
<li>Princess</li>
<li>Orpheus travel</li>
<li>Argonaftis tours</li>
<li>Ascot</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
<h3>Hotels</h3>
<ul>
<li>Four Seasons</li>
<li>St. Raphael</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Our partners</p></span>
<h3>Service providers</h3>
<ul>
<li>Cyprus V.I.P. service</li>
<li>True North Yachting</li>
<li>Princess</li>
<li>Orpheus travel</li>
<li>Argonaftis tours</li>
<li>Ascot</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
<h3>Hotels</h3>
<ul>
<li>Four Seasons</li>
<li>St. Raphael</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Our partners</p></span>
<h3>Service providers</h3>
<ul>
<li>Cyprus V.I.P. service</li>
<li>True North Yachting</li>
<li>Princess</li>
<li>Orpheus travel</li>
<li>Argonaftis tours</li>
<li>Ascot</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
<h3>Hotels</h3>
<ul>
<li>Four Seasons</li>
<li>St. Raphael</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Our partners</p></span>
<h3>Service providers</h3>
<ul>
<li>Cyprus V.I.P. service</li>
<li>True North Yachting</li>
<li>Princess</li>
<li>Orpheus travel</li>
<li>Argonaftis tours</li>
<li>Ascot</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
<h3>Hotels</h3>
<ul>
<li>Four Seasons</li>
<li>St. Raphael</li>
</ul>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/info/partnership">How to become our partner</a>
            </article>

             break;
    }
}

</div>