@model GuestService.Models.Countries.CountryRegions

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = Model.Keywords;
}

<div class="static_text">
<article style="padding: 70px 10px 10px 10px;">
    <hgroup class="ex_pay_title">
        <p>@ViewBag.Title</p>
    </hgroup>

    @if (Model.Regions.Length > 0)
    {
        <ul>
            @foreach (var region in Model.Regions)
            {
                <li><a href="@Url.Action(@region.Key.ToLower(), "excursion")">@region.Value</a></li>
            }
        </ul>
    }
    <p><strong>@(ViewBag.Title + " Seotext")</strong></p>
    <p>
        @Model.SeoText
    </p>
</article>
</div>
