@model GuestService.Models.Countries.CountriesCatalog

@{
    ViewBag.Title = ExcursionStrings.Get("CountriesCatalogTitle");
    ViewBag.Description = ExcursionStrings.Get("CountriesCatalogDescription");
    ViewBag.Keywords = ExcursionStrings.Get("CountriesCatalogKeywords");
}
<div class="static_text">
<article style="padding: 70px 10px 10px 10px;">
    <hgroup class="ex_pay_title">
      <p>@ExcursionStrings.Get("Countries_List")</p>
    </hgroup>
                
                @if (Model.Countries.Length > 0)
                {
                    <ul>
                        @foreach(var country in Model.Countries)
                        {
                            <li><a href="@Url.Action(@country.Key.ToLower(), "countries")">@country.Value</a></li>
                        }
                    </ul>
                }
    
    <p>
       @ExcursionStrings.Get("Countries_List_seotext")
    </p>
</article>
</div>
